<!DOCTYPE html>
<html>
<body>
    <p>You are administartor now! You have the permissions to edit or delete information. You can also give 
        bonus to an employee and evaluate new registration requests. Finally, you can select other employees 
        as administrators or unselect yourself.
    </p>
</body>
</html>