<!DOCTYPE html>
<html>

<body>
    <p>Congratulations, you got a new bonus.
        <br>
           See bonus information, on this page:
        <br>
    {{Important.front_end_bonus_view_base}}/{{bonusId}}
    </p>
</body>
</html>