<!DOCTYPE html>
<html>

<body>
    <img src="cid:filmcluster_logo" alt="Film Cluster Logo" style="display: block; margin-bottom: 20px; width: 200px; height: auto;">
    <p>Συγχαρητήρια, έχετε επιλεγεί για τη χρήση της εργαλειοθήκης του έργου Film Cluster!
    Μέσα από την πλατφόρμα του έργου μπορείτε να χρησιμοποιήσετε τα εργαλεία οπτικοακουστικού
    υλικού και να εξοικειωθείτε με τις νέες τεχνολογίες.
    <br>
    Τα στοιχεία σύνδεσής σας είναι:
    <br>
    Email: {{user.email}}
    <br>
    Καλή περιήγηση!
    <br>
    Με εκτίμηση,
    <br>
    Η ομάδα του Film Cluster</p>
</body>
</html>
