<!DOCTYPE html>
<html>

<body>
    <p>Congratulations, your leave request evaluated and it is accepted. Enjoy your leave time!
        <br>
           See leave information, on this page:
        <br>
       {{Important.front_end_vacation_request_view_base}}/{{vacationRequestId}}
    </p>
</body>
</html>