<!DOCTYPE html>
<html>

<body>
    <p>Congratulations, you got a new leave.
        <br>
           See leave information, on this page:
        <br>
    {{Important.front_end_vacation_request_view_base}}/{{vacationRequestId}}
    </p>
</body>
</html>