<!DOCTYPE html>
<html>
<body>
    <p>A new user made registration request. Waits to be accepted.
    <br>
    Name: {{user.firstName}}
    <br>
    Surname: {{user.lastName}}
    <br>
    Email: {{user.email}}
    <br>
    <br>
     More information, on this page:
    <br>
    {{Important.front_end_pending_users_page}}
    </p>
</body>
</html>
