<!DOCTYPE html>
<html>
<body>
    <img src="cid:filmcluster_logo" alt="Film Cluster Logo" style="display: block; margin-bottom: 20px; width: 200px; height: auto;">
    <p>Ένας νέος χρήστης έκανε αίτημα εγγραφής. Περιμένει να τον κάνετε αποδεκτο.
    <br>
    Τα βασικά στοιχεία του χρήστη είναι:
    <br>
    <br>
    Όνομα: {{user.firstName}}
    <br>
    Επίθετο: {{user.lastName}}
    <br>
    Email: {{user.email}}
    <br>
    <br>
     Πιο αναλυτικά, στη σελίδα του διαχειριστικού χρηστών:
    <br>
    {{Important.front_end_admin_users}}
    </p>
</body>
</html>
