<!DOCTYPE html>
<html>
<body>
    <img src="cid:filmcluster_logo" alt="Film Cluster Logo" style="display: block; margin-bottom: 20px; width: 200px; height: auto;">
    <p>Η κατάσταση του project έγινε "DONE". Μπορείτε να το δείτε!!
    <br>
    Με εκτίμηση,
    <br>
    Η ομάδα του Film Cluster</p>
</body>
</html>
