<!DOCTYPE html>
<html>
<body>
    <p>Πήραμε το αίτημα εγγραφής που κάνατε. Οι διαχειριστές της ομάδας μας θα 
        επεξεργαστούν το αίτημά σας. Θα σας στείλουμε σχετικό email όταν η διαδικασία
        ολοκληρωθεί.
    <br>
    Με εκτίμηση,
    <br>
    Η ομάδα του Management System</p>
</body>
</html>
